html {
  width: 100%;
  height: 100%;
  margin: 0;
}


body {
  background: url(../Pictures/black-and-white-black-and-white-close-up-586415.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.body2 {
  background: url(../Pictures/abstract-astronomy-constellation-1025469.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.body3{
  background: url(../Pictures/architecture-building-clouds-939962.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.body4{
  background: url(../Pictures/forest-haze-landscape-39811.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.navbar {
  display: inline;
  text-decoration: none;
  font-family:'Prosto One', cursive;
  font-size: 25px;
  position: sticky;
}

.navbar a {
  color: white;
}

.navbar a : hover{
  text-decoration: none;
  color: white;
}

.navbar a : visited{
  text-decoration: none;
  color: white;
}

.navbar a : visited {
  text-decoration: none;
}

.about2{
  font-family: "Cinzel Decorative", cursive;
  font-size: 500%;
  color: white;
  text-align: center;
  background-color: black;
  width: 35%;
  margin-left: 30%;
  padding: .5%;
}

.textabout{
  width: 80%;
  margin-left: 0%;
  text-align: center;
  color: white;
  font-family: 'Prosto One', cursive;
  position: absolute;
  font-size: 250%;
  width: 100%;
  padding: .5%
}

.textprojects{
  font-family: 'Prosto One', cursive;
  font-size: 250%;
  color: white;
  margin: 20%;
}

.textprojects a{
  color: orange;
}

.textprojects a : hover{
  text-decoration: none;
}

.footer{
  font-family: 'Prosto One', cursive;
  font-size: 18px;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .2rem;
  background-color: black;
  opacity: .6;
  text-align: center;
}

.socialcontainer a{
  color: white;

}

.home{
  background-color: black;
  width: 80%;
  font-family: 'Prosto One', cursive;
  color: white;
  padding: 2%;
  font-size: 500%;
  background-color: black;
  margin-left: 150%;
  margin: 40%;

}

.about {
  font-family: 'Prosto One', cursive;
  color: white;
  padding: 25px;
  font-size: 35px;
  background-color: black;
  margin-left: 525px;
  position: absolute;
  top: 15%;
}

.section1{
  font-size: 100px;
}
