html {
  width: 100%;
  height: 100%;
  margin: 0;
}


body {
  background: url(../Pictures/black-and-white-black-and-white-close-up-586415.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.body2 {
  background: url(../Pictures/abstract-astronomy-constellation-1025469.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}


.navbar {
  display: inline;
  text-decoration: none;
  font-family:'Prosto One', cursive;
  font-size: 25px;
  position: sticky;
}

.navbar a {
  color: white;
}

.navbar a : hover{
  text-decoration: none;
  color: white;
}

.navbar a : visited{
  text-decoration: none;
  color: white;
}

.navbar a : visited {
  text-decoration: none;
}

.about2{
  font-family: 'Prosto One', cursive;
  color: white;
  text-align: center;
  background-color: black;
  width: 500px;
  margin-left: 350px;
  padding: 15px;
}

.textabout{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  color: white;
  font-family: 'Prosto One', cursive;
  position: absolute;
  font-size: 20px;
}


.footer{
  font-family: 'Prosto One', cursive;
  font-size: 18px;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .2rem;
  background-color: black;
  opacity: .6;
  text-align: center;
}

.socialcontainer a{
  color: white;

}

.home{
  font-family: 'Prosto One', cursive;
  color: white;
  padding: 45px;
  font-size: 35px;
  background-color: black;
  margin-left: 200px;
  margin: 500px;

}

.about {
  font-family: 'Prosto One', cursive;
  color: white;
  padding: 25px;
  font-size: 35px;
  background-color: black;
  margin-left: 525px;
  position: absolute;
  top: 15%;
}

.section1{
  font-size: 100px;
}
